# --- 🔑 CLÉS D'API GITHUB ---
# Pour le scan public (Plusieurs tokens possible, séparés par des virgules)
GITHUB_TOKENS=ghp_token_lecture_1,ghp_token_lecture_2
# Pour synchroniser le backlog (Doit avoir les droits 'repo')
GITHUB_REPO=votre_nom/votre_repo
GITHUB_ADMIN_TOKEN=ghp_votre_token_admin

# --- 🗄️ BASE DE DONNÉES ---
DB_PASSWORD=cyberpass
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cyber_knowledge
DB_USER=cyber_master

# --- 🧠 IA & NLP ---
OLLAMA_HOST=http://localhost:11434
SENTENCE_TRANSFORMERS_MODEL=all-MiniLM-L6-v2

# --- 🚀 ORCHESTRATION (CELERY) ---
CELERY_BROKER_URL=redis://localhost:6379/0

# --- 🌐 FRONTEND ---
VITE_API_URL=http://localhost:8000
